<FilesMatch "(\.(log|sh|sql|htaccess)|~)$">
    ## Apache 2.2
    Order allow,deny
    Deny from all
    Satisfy All
    ## Apache 2.4
    # Require all denied
</FilesMatch>

<IfModule mod_headers.c>
  # Allow access from all domains for webfonts.
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css|css|json)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css)$">
    Header set Access-Control-Allow-Origin "*"
    Header set Cache-Control "max-age=31536000, immutable"
  </FilesMatch>
  <FilesMatch "\.(ico|jpg|jpeg|gif|png|pdf|mp3|mp4)$">
    Header set Cache-Control "max-age=31536000, immutable"
  </FilesMatch>
  <FilesMatch "\.(js|css)$">
    Header set Cache-Control "max-age=2628000, must-revalidate"
  </FilesMatch>
  <FilesMatch "\.(html|htm|xml|txt|xsl)$">
    Header set Cache-Control "max-age=86400, must-revalidate"
  </FilesMatch>
</IfModule>




<IfModule mod_deflate.c>

  # Force compression for mangled headers.
  # https://developer.yahoo.com/blogs/ydn/pushing-beyond-gzipping-25601.html
  <IfModule mod_setenvif.c>
    <IfModule mod_headers.c>
      SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
      RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
    </IfModule>
  </IfModule>
  # Compress all output labeled with one of the following MIME-types
  # (for Apache versions below 2.3.7, you don't need to enable `mod_filter`
  #  and can remove the `<IfModule mod_filter.c>` and `</IfModule>` lines
  #  as `AddOutputFilterByType` is still in the core directives).
  <IfModule mod_filter.c>
    AddOutputFilterByType DEFLATE application/atom+xml \
                                  application/javascript \
                                  application/json \
                                  application/rss+xml \
                                  application/vnd.ms-fontobject \
                                  application/x-font-ttf \
                                  application/x-web-app-manifest+json \
                                  application/xhtml+xml \
                                  application/xml \
                                  font/opentype \
                                  image/svg+xml \
                                  image/x-icon \
                                  text/css \
                                  text/html \
                                  text/plain \
                                  text/x-component \
                                  text/xml
  </IfModule>

</IfModule>


### REWRITE START ###
<IfModule mod_rewrite.c>
  RewriteEngine On

  # Redirect app subfolder to app subdomain
  RedirectMatch 301 ^/app/detail/(.*)$ https://app.btree.at/detail/$1
  RedirectMatch 301 ^/app/.*$ https://app.btree.at/
  # Redirect info and no subdomain to www
  RewriteCond %{HTTP_HOST} !^www\.btree\.at$  [NC]
  RewriteRule ^(.*)$ https://www.btree.at/$1 [R=301,nc,L]

  # Force HTTPS
  RewriteCond %{HTTPS} !on
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
  <IfModule mod_headers.c>
      Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
  </IfModule>

</IfModule>

ErrorDocument 404 /404.html
