.hero-background:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("~assets/img/bees.jpg");
  width: 100%;
  height: 20rem;
  opacity: 0.5;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.honey-background {
  background-image: url("~assets/img/honigwabe.jpg");
  width: 100%;
  height: 20rem;
  opacity: 0.9;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

table {
  font-size: 1rem;
  th {
    font-size: 1.2rem;
    text-align: center;
  }
}

.dark-mode {
  h1,
  h2,
  h3,
  th,
  strong,
  blockquote {
    --text-opacity: 1;
    color: #f7fafc;
    color: rgba(247, 250, 252, var(--text-opacity));
  }
}
