---
import { Image } from "astro:assets";
import awsCloudQuestCloudPractitioner from "../images/aws-cloud-quest-cloud-practitioner.png";
import awsKnowledgeArchitecting from "../images/aws-knowledge-architecting.png";
import awsKnowledgeServerless from "../images/aws-knowledge-serverless.png";
---

<section class="hero container max-w-screen-lg mx-auto flex">
    <a href="https://www.credly.com/badges/e9008b57-644c-4696-b523-d38040a5f6c1/public_url">
        <Image src={awsCloudQuestCloudPractitioner} class="mx-auto" width={150} alt="AWS Cloud Quest: Cloud Practitioner" />
    </a>
    <a href="https://www.credly.com/badges/12d51f59-8eec-4741-998e-24a62108cc59/public_url">
        <Image src={awsKnowledgeArchitecting} class="mx-auto" width={150} alt="AWS Knowledge: Architecting" />
    </a>
    <a href="https://www.credly.com/badges/f70bdca8-9a33-496e-b453-361e5ba33601/public_urll">
        <Image src={awsKnowledgeServerless} class="mx-auto" width={150} alt="AWS Knowledge: Serverless" />
    </a>
</section>