---
import * as CONFIG from "../config";
import SidebarToggle from "./SidebarToggle.vue";
import SelectLanguage from "./SelectLanguage.vue";
import ButtonThemeToggle from "./ButtonThemeToggle.vue";
import IconBtree from "./icon/Btree.vue";
import LinkApp from "./LinkApp.vue";
import { getAbsoluteLocaleUrl } from "astro:i18n";

const curLoc = Astro.currentLocale;
const rootUrl = getAbsoluteLocaleUrl(curLoc, "");
---

<header class="sticky top-0 z-50 border-amber-800 border-solid border-b-2 pl-1 pr-1">
  <nav class="" title="Top Navigation">
    <div class="flex justify-between ">
      <div class="menu-toggle">
        <SidebarToggle client:load="vue" />
      </div>
      <div class="hidden logo sm:block">
        <a href={rootUrl} data-astro-reload>
          <IconBtree class="w-10 h-10" />
          <h1>{CONFIG.SITE.title ?? "b.tree"}</h1>
        </a>
      </div>
      <div>
        <div class="flex justify-between gap-x-4">
          <SelectLanguage client:load="vue" locale={curLoc} />
          <ButtonThemeToggle client:load="vue" />
          <div>
            <LinkApp client:load="vue" />
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  header {
    height: var(--theme-navbar-height);
    width: 100%;
    background-color: var(--theme-navbar-bg);
    overflow: hidden;
  }

  .logo a {
    display: flex;
    padding: 0.5em 0.25em;
    margin: -0.5em -0.25em;
    text-decoration: none;
    font-weight: bold;
  }

  .logo a {
    transition: color 100ms ease-out;
    color: var(--theme-text);
  }

  .logo a:hover,
  .logo a:focus {
    color: var(--theme-text-accent);
  }

  .logo h1 {
    display: none;
    font: inherit;
    color: inherit;
    margin: 0;
  }

  .nav-wrapper {
    display: flex;
    align-items: center;
    gap: 0em;
    width: 100%;
    max-width: 82em;
    padding: 0 0.1rem;
  }

  @media (min-width: 50em) {
    header {
      position: static;
    }
    .logo {
      width: auto;
      margin: 0;
      z-index: 0;
    }
    .logo h1 {
      display: initial;
    }
    .menu-toggle {
      display: none;
    }
  }
</style>
