---
import { Image } from 'astro:assets';
import GitHub from '../assets/Github.svg';
import LinkedIn from '../assets/LinkedIn.svg';
import YouTube from '../assets/YouTube.svg';

interface Props {
  socialclass: string
}

const { socialclass } = Astro.props;
---

<ul class={socialclass} style="list-style: none">
  <li class="mr-4">
      <a
        href="https://www.linkedin.com/in/hannes-oberreiter-214a30265/"
        target="_blank"
        rel="noopener noreferrer"
        title="LinkedIn"
        name="LinkedIn"
        class="block hover:text-green-500 mr-2"
      >
        <Image src={LinkedIn} alt="LinkedIn" class="w-6 h-6" />
      </a>
    </li>
    <li class="mr-4">
      <a
        href="https://github.com/HannesOberreiter"
        target="_blank"
        rel="noopener noreferrer"
        title="Github"
        name="Github"
        class="block hover:text-green-500 mr-4"
      >
        <Image src={GitHub} alt="GitHub" class="w-6 h-6" />
      </a>
    </li>

    <li class="mr-4">
      <a
        href="https://www.youtube.com/c/HannesOberreiter"
        target="_blank"
        rel="noopener noreferrer"
        title="YouTube"
        name="YoTube"
        class="block hover:text-green-500 mr-4"
      >
        <Image src={YouTube} alt="YouTube" class="w-6 h-6" />
      </a>
  </li>
</ul>
