---
import TableOfContents from './TableOfContents.astro';

const { headings } = Astro.props;
---

<nav class="sidebar-nav" aria-labelledby="grid-right">
  <div class="sidebar-nav-inner">
    <TableOfContents
      headings={headings}
    />
    <!--<div style="margin: 2rem 0; text-align: center;">
     <ButtonThemeToggle client:visible />
     </div>-->
  </div>
</nav>

<style>
  .sidebar-nav {
    width: 100%;
    position: sticky;
    top: 0;
  }

  .sidebar-nav-inner {
    height: 100%;
    padding: 0;
    padding-top: 4rem;
    overflow: auto;
  }
</style>
